{# templates/index.twig #}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clothing Shop</title>
    <link rel="stylesheet"href">
</head>
<body>

    <h1>Welcome to our clothing shop</h1>

    {% set clothingItems = craft.entries.section('kledingItems').all() %}

    {% if clothingItems|length %}
        <ul>
            {% for item in clothingItems %}
                <li>
                    <h2>{{ item.title }}</h2>
                    <p>Prijs: {{ item.prijs }}</p>
                    <p>{{ item.beschrijving }}</p>
                    {% if item.afbeelding.first() %}
                        <img src="{{ item.afbeelding.first().getUrl('thumbnail') }}" alt="{{ item.title }}">
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Sorry, there are no items you're searching for</p>
    {% endif %}

</body>
</html>
